<h2 mat-dialog-title>Agregar Comercio</h2>
<form [formGroup]="businessForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content fxLayout="column" style="width: 400px;">

        <mat-form-field>
            <input matInput type="text" formControlName="name" placeholder="Nombre" />
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Fecha Fundación">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" formControlName="ownerName" placeholder="Nombre del Dueño" />
        </mat-form-field>

        <mat-form-field>
            <textarea matInput type="text" formControlName="address" placeholder="Dirección"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-select formControlName="types" multiple>
                <mat-optgroup *ngFor="let group of groupedSubtypes" [label]="group[0].type">
                    <mat-option *ngFor="let subtype of group" [value]="subtype.id">
                        {{subtype.description}}
                    </mat-option>
                    <mat-option #matOption (click)="addOther(group[0].type, matOption.selected)">
                        <i>Otro...</i>
                    </mat-option>
                </mat-optgroup>
                
            </mat-select>
        </mat-form-field>
    <ng-container *ngIf="newSubtypes !== fb.group({})">
        <ng-container [formGroup]="newSubtypes">
            <mat-form-field *ngFor="let other of selectedOthers">
                <mat-label>Seleccionaste <i>otro...</i> en {{idToType(other)}}</mat-label>
                <input formControlName="{{other}}" matInput type="text" />
            </mat-form-field>
        </ng-container>
    </ng-container>
    
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit">Guardar</button>
        <button mat-button [mat-dialog-close]="true">Cerrar</button>
    </mat-dialog-actions>
</form>