<mat-toolbar color="primary">
    <span>Comercios</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openBusinessDialog($event)">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>

<div class="container mat-elevation-z8">
    <table mat-table #matTable matSort [dataSource]="dataSource" class="mat-cell">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Nombre</strong> </th>
            <td mat-cell *matCellDef="let element; index as index">
                <app-editable (update)="updateField(index, 'name')">
                    <ng-template appViewMode>{{element.name}}</ng-template>
                    <ng-template appEditMode>
                        <mat-form-field>
                            <input matInput [formControl]="getControl(index, 'name')" appEditableOnEnter>
                        </mat-form-field>
                    </ng-template>
                </app-editable>
            </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Fundación </th>
            <td mat-cell *matCellDef="let element; index as index"> 
                <app-editable (update)="updateField(index, 'date')">
                    <ng-template appViewMode>{{element.date}}</ng-template>
                    <ng-template appEditMode>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" [formControl]="getControl(index, 'date')" placeholder="Fecha Fundación" appEditableOnEnter>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </ng-template>
                </app-editable>
            </td>
        </ng-container>

        
        <ng-container matColumnDef="owner_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Dueño </th>
            <td mat-cell *matCellDef="let element; index as index"> 
                <app-editable (update)="updateField(index, 'owner_name')">
                    <ng-template appViewMode>{{element.owner_name}}</ng-template>
                    <ng-template appEditMode>
                        <mat-form-field>
                            <input matInput [formControl]="getControl(index, 'owner_name')" appEditableOnEnter>
                        </mat-form-field>
                    </ng-template>
                </app-editable>
            </td>
        </ng-container>


        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
            <td mat-cell *matCellDef="let element; index as index"> 
                <app-editable (update)="updateField(index, 'address')">
                    <ng-template appViewMode>{{element.address}}</ng-template>
                    <ng-template appEditMode>
                        <mat-form-field>
                            <input matInput [formControl]="getControl(index, 'address')" appEditableOnEnter>
                        </mat-form-field>
                    </ng-template>
                </app-editable> 
            </td>
        </ng-container>


        <ng-container matColumnDef="types">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let element; index as index"> 
                <app-editable (update)="updateField(index, 'types')">
                    <ng-template appViewMode>{{subtypeStrings[element.id]}}</ng-template>
                    <ng-template appEditMode>
                        <mat-form-field appearance="fill">
                            <mat-select [formControl]="getControl(index, 'types')" multiple appEditableOnEnter>
                                <mat-optgroup *ngFor="let group of groupedSubtypes" [label]="group[0].type">
                                    <mat-option *ngFor="let subtype of group" [value]="subtype.id" class="control">
                                        {{subtype.description}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                        </mat-form-field>
                    </ng-template>
                  </app-editable>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="deleteBusiness(element.id)" matTooltip="Borrar el comercio">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>